* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f1d7f1;
    text-align: center;
}

.container { width: 90%; margin: auto; }
.container-small { max-width: 700px; margin: auto; padding: 20px; }


header {
    background-color: #502c49;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    padding: 60px 20px;
    background: #fff;
}

.profile-img { width: 40%; height: 70% ;
    border-radius: 30%;
    margin-bottom: 20px;
    border: 5px solid #864b7a;
}
.hero {background-color: #f1d7f1}
.hero h2 { font-size: 2rem; margin-bottom: 15px; }
.hero p { max-width: 600px; margin: 0 auto 30px; }


.btn {
    background-color: #ba59a5;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #ba59a5;
}


section { padding: 50px 30px; }

.about { background-color:  #be87b3; }
.about p { line-height: 1.8;color: #f8f8f8;margin-top: 10px; }
.about h2{color: #fff;}

.skill-box {
    display: inline-block;
    background: #f7f5f7;
    border: 1px solid #ddd;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.skill h2{margin-bottom: 15px;}

.card {
    display: inline-block;
    width: 30%;
    margin: 1%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    vertical-align: top;
    padding-bottom: 20px;
}

.card img { width: 100%; height: auto; }
.card h3 { margin: 15px 0; }
.card p { padding: 0 15px; font-size: 0.9rem; margin-bottom: 15px; }
.projects{background: #be87b3;}
.projects h2{color: #fff;}

.contact input, .contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
}
.contact h2{margin-bottom: 15px;}

footer {
    background: #502c49;
    color: white;
    padding: 30px;
}

footer a { color: #fb6bdc; text-decoration: none; }


@media (max-width: 768px) {
    .card {
        width: 90%;
        display: block;
        margin: 20px auto;
    }
    
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
